@import "../../../styles.scss";

.sidebar {
    width: 350px;
    height: 100vh;

    padding: 24px 0 24px 8px;
    background-color: $primary;

    display: flex;
    flex-direction: column;
    gap: 24px;

    &__wrapper {
        width: 100%;
        overflow-y: auto;
        padding-right: 8px;

        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            width: 100%;
            min-height: 56px;

            color: $text-white;
            font-size: 14px;
            font-weight: 500;
            border: 1px solid $divider;

            display: flex;
            align-items: center;
            padding: 8px;
            margin-bottom: 8px;

            &:hover {
                cursor: pointer;
                background-color: #0d223f;
            }
        }
    }
}
